
.project-display {
    display: flex;
    width: 100vw;
}

.task-header {
    font-size: 2em;
}

.wip {
    width: 22vw;
    height: 80vh;
    border: 0.3px solid black;
    margin: 1em;
}

.todo {
    width: 22vw;
    height: 80vh;
    border: 0.3px solid black;
    margin: 1em;
}

.complete {
    width: 22vw;
    height: 80vh;
    border: 0.3px solid black;
    margin: 1em;
}

#todo {
    width: 22vw;
    flex: 1;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: lightgreen;
}

#wip {
    width: 22vw;
    flex: 1;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: rgb(250, 255, 180);
}

#complete {
    width: 22vw;
    flex: 1;
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    background-color: lightskyblue;
}

.new-task-form {
    width: 22vw;
    height: 37.5vh;
    border: 0.3px solid black;
    margin: 1em;
}

.new-task-header {
    font-size: 2em;
    width: 22vw;
}

.project-sidebar {
    display: flex;
    flex-direction: column;
}

.project-info {
    width: 22vw;
    height: 37.5vh;
    border: 0.3px solid black;
    margin: 1em;
}
