.nav-bar {
  background: rgb(222, 247, 255);
  text-align: left;
  height: 1.5em;
}

.nav-links {
  margin-left: 1em;
  margin-right: 1em;
}

.new-project-form-display {
  text-align: center;
  padding: 1em;
  border-radius: 0.5em;
  width: 25vw;
  margin-top: 4em;
  background: lightgrey;
}

